.NavBar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.logo
{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.logo span
{
    font-size: 25px;
    color: orangered;
    font-weight: 700;
}



.left-nav
{
    display: flex;
    align-items: center;
    gap: 15px;
}


.navbar-dropdown
{
 display: flex;
 gap: 20px;
 font-size: 16px;
 font-weight: 600;
 cursor: pointer;
}

.search-bar
{
    display: flex;
    flex: 0.7;
    border-radius: 10px;
}

.search-bar input
{
    border: none;
    padding: 10px 20px;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: gray;
    font-weight: 500;
    background-color: rgba(211, 211, 211, 0.523);

    border-radius: 10px;
    
}


.create-post span
{
    font-size: 25px;
}

.create-post p{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 500;
}

.login-logout
{
    border: 1px solid red;
    padding: 10px 10px;
    background-color: orangered;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    min-width: 100px;
    text-align: center;
}

hr{
    width: 99%;
    height: 1px;
    border: none;
    outline: none;
    background-color: lightgray;
    margin: 0 auto;
}



.chat-icon
{
    display: flex;
    align-items: center;
    gap: 15px;
}